body{
    margin: 0;
    padding: 0;
}
.images-items{
    background-color: #16a085;
}

.images-items a{
    display: inline-block;
    width: 49vw;
    height: 50vh;
    text-decoration: none;
    font-size: 14px;

}
.image-section{
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    margin: 20px;
    background-size: cover;
    background-position: center;
    transition-property: background-size;
    transition-duration: 1000ms;

}
.image-section:hover{
    background-size: calc(100% + 40px);
}
.image-section .image-content{
    position: relative;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    margin-left: 40px;
    width: 50%;
}
.image-section .image-content p{
   margin: 10px;
}
.image-section .image-content-title {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}