/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
    width: 1280px;
    font-family: "MyriadProRegular", 'sans';
    font-size: 18px;

}
a {
    text-decoration: none;
    color: #485863;
    font-size: 24px;

}
a.logo{
    display: inline-block;
    font-family: "MyriadProRegular", 'sans';
    font-size: 80px;
    margin: 60px 0;
    text-decoration: none;
    color: #000000;

}
a.logo span{
    color: #4bcaff;
}
li{
    display: inline-block;
}

.header-nav ul{
    font-size: 0;
    text-align: center;
}
.header-nav {
    background-color: #35444f;
}
.header-nav a{
    display: inline-block;
    padding:20px 40px;
    font-size: 24px;
    color: #ffffff;
    border: 1px solid transparent;

}
.header-nav a.active{
    user-select: none;
}
.header-nav a:hover, .header-nav a.active{
    background-color: #222f3a;
    border-color: #818181;
}
main{
    margin-top: 50px;
}
aside, .content{
    float: left;
}
.aside-nav{
    width: 345px;
    border: 1px solid #000000;

}
.aside-nav .aside-nav-item{
    display: block;

}
.aside-nav .aside-nav-item a{
    display: block;
    padding: 30px 0 30px 40px;

}
.aside-nav .aside-nav-item a.active, .aside-nav .aside-nav-item a:hover{
    padding-left: 70px;
    background-color: #dbdbdb;
    color: #010101;
}
.clearfix{
    clear: both;
}
.content{
    width: calc(100% - 350px);
    text-align: center;
    /*float: left;*/
}
.content .text{
    margin: 40px 30px;
    text-align: left;
    line-height: 22px;
}
.content .text p{
    margin-bottom: 24px;
}
footer{
    background-color: #b4b7b9;
    font-size: 24px;
}
footer nav{
    float: left;
    color: #2c2c2c;

}
footer ul{
    padding-left: 30px;
}
footer li{
    padding: 15px 10px;
}
footer li a{
    padding: 3px 0;
}

footer a:hover{
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}
footer .copy{
    float: right;
    margin-right: 30px;
    color: #010101;
    font-size: 22px;
    padding: 18px 10px;
}
